#button {
    display: block;
  width: 300px;
  padding: 30px 15px;
  border-radius: 5px;
  margin: 20% auto;
  background-color: orange;
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
}

#button:hover {
  background-color: limegreen;
}