#button {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 20% auto;
  background-color: orange;
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  user-select: none;
  /* transition-property: background-color, border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-out; */
  transition: all 750ms ease-out;
}

#button:hover {
  background-color: limegreen;
}
#button:active {
  border-radius: 50%;
}
.word {
  margin: 150px 150px;
  font-size: 2em;
}
.definable .definition-container {
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem 2rem 4rem;
  background-color: #ffffff;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  transition: top 1300ms linear, opacity 300ms linear;
}

.definable:hover .definition-container {
  top: 0;
  opacity: 1;
}
.animated-word-one {
  font-size: 2em;
  margin: 150px;
  transition: color 250ms ease-in-out;
}
.animated-word-one:hover {
  color: blue;
  animation: rightLeft 1s;
}
@keyframes rightLeft {
  /* Add stages below */
  30% {
    transform: translateX(50px);
  }
  70% {
    transform: translateX(-50px);
  }
}
