#button {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 20% auto;
  background-color: orange;
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  user-select: none;
  transition-property: background-color, border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-out;
}

#button:hover {
  background-color: limegreen;
}
#button:active {
  border-radius: 50%;
}
