#button {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 20% auto;
  background-color: orange;
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  user-select: none;
  /* transition-property: background-color, border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-out; */
  transition: all 750ms ease-out;
}

#button:hover {
  background-color: limegreen;
}
#button:active {
  border-radius: 50%;
}

.definable .definition-container {
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem 2rem 4rem;
  background-color: #ffffff;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  transition: top 300ms linear, opacity 300ms linear;
}

.definable:hover .definition-container {
  top: 0;
  opacity: 1;
}